<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= "Delete Booking Requests" %></h3>
    </div>
    <div class="modal-body">
      <p>
        Are you sure?
      </p>
    </div>
    <div class="modal-footer">
      <%= link_to "Yes", booking_request_path(@booking_request), method: :delete, remote: true, class: "btn btn-danger" %>
      <%= link_to "No", "#", class: "btn btn-primary", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>
