
<div class="col-md-12">
  <div class="page-header">

    <div class="row">
      <div class="col-lg-10">
        <%= link_to "", new_booking_request_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
      </div>
      <div class="col-lg-push-2">
        <input type="checkbox" id="booking_requests_hide_completed" />
        <label for="booking_requests_hide_completed">Hide Completed?</label>
      </div>
    </div>

  </div>

  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>Request Number</th>
        <th>Request Status</th>
        <th>Project</th>
        <th>User</th>
        <th>Start Date</th>
        <th>End Date</th>

        <% if can? :update, @booking_requests and can? :delete, @booking_requests %>
          <th>Edit</th>
          <th>Delete</th>
          <th>Update</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="booking_request-index">
      <%= render 'index' %>
    </tbody>
  </table>

</div>

<div id="booking_request-modal" class="modal" role="dialog"></div>
