<%= link_to '', new_downtime_path, :remote=> true, :class => 'btn btn-primary fa fa-lg fa-plus button-text' %>

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Environment</th>
      <th>Availability over last month</th>
    </tr>
  </thead>

  <tbody id="downtime-table-bottom">
    <%= render 'index.bottom' %>
  </tbody>

</table>
<br/>
<br/>

<% if current_user.try(:admin?) %>
  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Hours</th>
        <th>Reason</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="downtime-table-body">
      <%= render 'index.top' %>
    </tbody>

  </table>
  <br>
<% end %>

<div id="downtime-modal" class="modal" role="dialog"></div>
