
<div class="col-md-12">
  <div class="page-header">
    <%= link_to "", new_status_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>Status</th>
        <th>Status Type</th>

        <% if can? :update, @statuses %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="status-index">
      <%= render 'index' %>
    </tbody>
  </table>

</div>

<div id="status-modal" class="modal" role="dialog"></div>
