<div class="col-md-12">
  <div class="page-header">
    <%= link_to "", new_env_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Description</th>
        <th>Level</th>
        <th>Last Refresh Date</th>
        <th>How Long?</th>
        <% if can? :update, @envs and can? :delete, @envs %>
          <th></th><th></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="env-index">
      <%= render 'index' %>
    </tbody>
  </table>

</div>
<div id="env-modal" class="modal fade" role="dialog"></div>
