<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/" data-no-turbolink="true">Bookings</a>
  </div>

  <% if !current_user.try(:user_preference).try(:sidebar) %>
    <ul class="nav navbar-nav">
      <li>
        <a href="/" data-no-turbolink="true"><i class="fa fa-fw fa-home"></i> Home</a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-fw fa-globe"></i> Environments <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/refreshes"><i class="fa fa-fw fa-support"></i> Status</a>
          </li>
          <li>
            <a href="/refresh_requests"><i class="fa fa-fw fa-paper-plane"></i> Refresh Requests</a>
          </li>
          <li>
            <a href="/booking_requests" data-no-turbolink="true"><i class="fa fa-fw fa-briefcase"></i> Booking Requests</a>
          </li>
          <li>
            <a href="/downtimes"><i class="fa fa-fw fa-clock-o"></i> Downtime Tracking</a>
          </li>
          <li>
            <a href="/dashboard" data-no-turbolink="true"><i class="fa fa-fw fa-tachometer"></i> Dashboard</a>
          </li>
        </ul>
      </li>

      <% if current_user.try(:admin?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-cogs"></i> Config <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/apps" class="sidebar_link"><i class="fa fa-fw fa-bullseye"></i> Apps</a>
            </li>
            <li>
              <a href="/envs"><i class="fa fa-fw fa-globe"></i> Environments</a>
            </li>
            <li>
              <a href="/envlevels"><i class="fa fa-fw fa-asterisk"></i> Environment Levels</a>
            </li>
            <li>
              <a href="/projects"><i class="fa fa-fw fa-file"></i> Projects</a>
            </li>
            <li>
              <a href="/systems"><i class="fa fa-fw fa-database"></i> Systems</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/envbookings"><i class="fa fa-fw fa-list"></i> Bookings</a>
        </li>
        
        <li>
          <a href="/newenvbooking" data-remote="true"><i class="fa fa-fw fa-calendar"></i> New Booking</a>
        </li>

      <% end %>

      <% if !current_user.try(:admin?) %>
        <li>
          <a href="/new_refresh_request" data-remote="true"><i class="fa fa-fw fa-refresh"></i> Book a Refresh</a>
        </li>

        <li>
          <a href="/new_booking_request" data-remote="true"><i class="fa fa-fw fa-calendar"></i> Book an Environment</a>
        </li>
      <% end %>


    </ul>
  <% end %>

  <!-- Top Menu Items -->
  <ul class="nav navbar-right top-nav">
    <% if current_user.try(:admin?) %>
      <li>
        <a href="/appconfig" data-remote="true"><i class="fa fa-fw fa-gear"></i> System Preferences</a>
      </li>
    <% end %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
        <% if user_signed_in? %>
          <%= current_user.name %>
        <% else %>
          Login
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <a href="/users/edit"><i class="fa fa-fw fa-user"></i> Account</a>
          </li>
          <li>
            <a href="<%= edit_user_preference_path(current_user.user_preference) %>"><i class="fa fa-fw fa-gear"></i> User Preferences</a>
          </li>

          <li>
            <a rel="nofollow" data-method="delete" href="/users/sign_out">
              <i class="fa fa-fw fa-power-off"></i> Logout
            </a>
          </li>
        <% else %>
          <li>
            <a href="/users/sign_in"><i class="fa fw-fw fa-sign-in"></i> Login</a>
          </li>
          <li>
            <a href="/users/sign_up"><i class="fa fw-fw fa-plus-circle"></i> Sign Up</a>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <% if current_user.try(:user_preference).try(:sidebar) %>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="/" data-no-turbolink="true"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#Environments"><i class="fa fa-fw fa-globe"></i> Environments <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="Environments" class="collapse">
            <li>
              <a href="/refreshes"><i class="fa fa-fw fa-support"></i> Statuses</a>
            </li>
            <li>
              <a href="/refresh_requests"><i class="fa fa-fw fa-paper-plane"></i> Refresh Requests</a>
            </li>
            <li>
              <a href="/booking_requests" data-no-turbolink="true"><i class="fa fa-fw fa-briefcase"></i> Booking Requests</a>
            </li>
            <li>
              <a href="/downtimes"><i class="fa fa-fw fa-clock-o"></i> Downtime Tracking</a>
            </li>
            <li>
              <a href="/dashboard" data-no-turbolink="true"><i class="fa fa-fw fa-tachometer"></i> Dashboard</a>
            </li>
          </ul>
        </li>

        <% if current_user.try(:admin?) %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#config"><i class="fa fa-fw fa-cogs"></i> Config <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="config" class="collapse">
              <li>
                <a href="/apps" class="sidebar_link"><i class="fa fa-fw fa-bullseye"></i> Apps</a>
              </li>
              <li>
                <a href="/envs"><i class="fa fa-fw fa-globe"></i> Environments</a>
              </li>
              <li>
                <a href="/envlevels"><i class="fa fa-fw fa-asterisk"></i> Environment Levels</a>
              </li>
              <li>
                <a href="/projects"><i class="fa fa-fw fa-file"></i> Projects</a>
              </li>
              <li>
                <a href="/systems"><i class="fa fa-fw fa-database"></i> Systems</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/envbookings"><i class="fa fa-fw fa-list"></i> Bookings</a>
          </li>
          <li>
            <a href="/newenvbooking" data-remote="true"><i class="fa fa-fw fa-calendar"></i> New Booking</a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
