<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/" data-no-turbolink="true">Bookings</a>
  </div>
  <!-- Top Menu Items -->
  <ul class="nav navbar-right top-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
        <% if user_signed_in? %>
          <%= current_user.name %>
        <% else %>
          Login
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <a href="/users/edit"><i class="fa fa-fw fa-user"></i> Account</a>
          </li>
          <li>
            <a rel="nofollow" data-method="delete" href="/users/sign_out">
              <i class="fa fa-fw fa-power-off"></i> Logout
            </a>
          </li>
        <% else %>
          <li>
            <a href="/users/sign_in"><i class="fa fw-fw fa-sign-in"></i> Login</a>
          </li>
          <li>
            <a href="/users/sign_up"><i class="fa fw-fw fa-plus-circle"></i> Sign Up</a>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="/" data-no-turbolink="true"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
          <a href="/refreshes"><i class="fa fa-fw fa-support"></i> Env Refreshes</a>
        </li>
        <% if current_user.try(:admin?) %>
          <li>
            <a href="/newenvbooking" data-remote="true"><i class="fa fa-fw fa-calendar"></i> New Booking</a>
          </li>
          <li>
            <a href="/apps" class="sidebar_link"><i class="fa fa-fw fa-bullseye"></i> Apps</a>
          </li>
          <li>
            <a href="/projects"><i class="fa fa-fw fa-file"></i> Projects</a>
          </li>
          <li>
            <a href="/envs"><i class="fa fa-fw fa-globe"></i> Environments</a>
          </li>
          <li>
            <a href="/envlevels"><i class="fa fa-fw fa-asterisk"></i> Environment Levels</a>
          </li>
          <li>
            <a href="/envbookings"><i class="fa fa-fw fa-list-ul"></i> Bookings</a>
          </li>
          <li>
            <a href="/appconfig" data-remote="true"><i class="fa fa-fw fa-gear"></i> App Config</a>
          </li>
        <% end %>

      </ul>
    </div>
</nav>
