<div class="panel panel-default ">
  <div class="panel-heading">
    <form action="/" accept-charset="UTF-8" data-remote="true" method="post">
      <select name="env" class="form-control">
        <option value="All">All</option>
        <% @all_envs.each do |env| %>
          <option value="<%= env.name %>"><%= env.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Filter" class="btn btn-primary"/>
    </form>
  </div>
  <div class="panel-body">
    <div id="visualization"></div>
  </div>
  <div class="panel-footer">
  </div>
</div>
