<div class="panel panel-default ">
  <div class="panel-heading" id="panel_heading_html">
    <%= render partial: 'panel_heading_html' %>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-lg-11">
        <div id="visualization"></div>
      </div>
      <div class="col-lg-1">
        Legend.
      </div>

    </div>
  </div>

  <div class="panel-footer">
  </div>
</div>
