<%- model_class = Project -%>
<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <% if can? :update, @projects and can? :delete, @projects %>
          <th></th><th></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="project-index">
      <%= render 'index' %>
    </tbody>
  </table>

  <br/>
  <br/>
    <%= link_to "New", new_project_path, remote: true, class: "btn btn-primary pull-right well button-text" %>
  <br/>
  <br/>

</div>
<div id="project-modal" class="modal fade" role="dialog"></div>