<%- model_class = Project -%>
<div class="col-md-12">
  <div class="page-header">
    <%= link_to "", new_project_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th>Color</th>
        <% if can? :update, @projects and can? :delete, @projects %>
          <th></th><th></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="project-index">
      <%= render 'index' %>
    </tbody>
  </table>

</div>

<div id="project-modal" class="modal" role="dialog"></div>
