.color-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
  padding: 5px;
}

.color-rect {
  float: left;
  width: 85px;
  height: 20px;
  margin: 5px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
}

.button-text {
  color: #000 !important;
}

.vis-group:nth-child(odd) {
  background-color: #ffffff;
}

.vis-group:nth-child(even) {
  background-color: #e0e0e0;
}

.vis-label:nth-child(odd) {
  background-color: #ffffff;
}

.vis-label:nth-child(even) {
  background-color: #e0e0e0;
}
