<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Refresh Request for <%= @refresh_request.env.name %></h1>
    <p>
  </body>
</html>
