<script>
  $(document).ready(function(){
    $('#refresh_request-modal').on('shown.bs.modal', function () {
      $('#modal-yes').focus();
    });
  });
</script>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= "Complete Refresh Request" %></h3>
    </div>
    <div class="modal-body">
      <p>
        Are you sure? <br/>
        This will close the request and update the environment last refresh date information.
      </p>
    </div>
    <div class="modal-footer">
      <%= link_to "Yes", refresh_request_complete_path(@refresh_request), method: :post, remote: true, :autofocus => true, class: "btn btn-danger", id: "modal-yes"%>
      <%= link_to "No", "#", class: "btn btn-primary", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>
