<div class="col-md-12">
  <div class="page-header">
    <%= link_to "", new_refresh_request_path, remote: true, class: "btn btn-primary fa fa-lg fa-plus button-text" %>
  </div>

  <table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Application</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Notes</th>
        <th>MKS Id</th>

        <% if can? :update, @refresh_request and can? :delete, @refresh_request %>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
          <th>
            Complete?
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody id="refresh_request-index">
      <%= render 'index' %>
    </tbody>
  </table>
</div>

<div id="refresh_request-modal" class="modal" role="dialog"></div>
